/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 30px;
  height: 100px; /* Set the fixed height of the footer here */

}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

